@charset "UTF-8";

#container{
	margin: 0 auto;
	width: 45%;
	text-align: center;
	margin-bottom: 200px;
}

#container h1{
	font-size: 45px;
	font: bold;
	margin-bottom: 50px;
}

#events{
	width: 100%;
	border: 1px solid black;
	margin-top: 20px;
	text-align: center;
	border-radius: 10px;
}

#thumbnail{
	text-align: center;
	height: 350px;
}

#thumbnail img{
	width: 820px;
	height: 320px;
	margin-top: 25px;
}

#title{
	width: 90%;
	margin: 0 auto;
	text-align: left;
}