@charset "UTF-8";

#container{
	width: 65%;
	margin: 0 auto;
	text-align: center;

}

#top{
	text-align: left;
	
}

#top h3{
	font: bold;
	font-size: 40px;
	color: #ff4081;
	margin-bottom: 0px;
}

#top h2{
	margin-top: 10px;
	font: bold;
	font-size: 50px;
	margin-bottom: 0px;
}

#tableDiv{
	margin-top: 20px;
	width: 100%;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	padding-left: 15px;
	padding-right: 15px;
}

#tableDiv a{
	text-decoration: none;
	color: black;
}

#board{
	margin-top: 10px;
	margin-bottom: 30px;
	width: 100%;
	font: bold;
	font-size: 20px;
	
}

#board th{
	height: 50px;
}



#board td{
	border-top: 2px solid #ddd;
	height: 45px;
	font-size: 15px;
	
}

#title{
	text-align: left;
}

#bottom{
	margin-top: 20px;
	width: 100%;
	height: 100px;
}

#searchDiv{
	width: 50%;
	height: 30px;
	float: left;
	text-align: left;
}

#pageDiv{
	width: 50%;
	height: 30px;
	float: right;
	text-align: center;
	background-color: gray;
}

#searchType{
	margin-left: 30px;
	width: 20%;
	height: 30px;
	border-radius: 10px;
	border: 1px solid black;

}

#searchInput{
	border: 1px solid black;
	width: 40%;
	height: 30px;
	border-radius: 10px;
	padding-left: 10px;
}

#submitBtn{
	background-color: #ff4081;
	width: 15%;
	height: 30px;
	border: none;
	border-radius: 10px;
	color: white;
	font: bold;
	font-size: 15px;
}

#submitBtn:hover{
	cursor: pointer;
	background-color: #e62e59;
}

#pagination {
   width: 80%;
   text-align: right;
   bottom: 20px;
}

#pagination a {
   padding: 5px 10px;
   margin: 0 5px;
   background-color: #fff;
   border: 1px solid #ddd;
   border-radius: 5px;
   text-decoration: none;
   color: #333;
   transition: background-color 0.3s ease;
}

#pagination a:hover {
   background-color: #545454;
   color: white;
}

#pagination a.active {
   background-color: #545454;
   color: white;
}

