@charset "UTF-8";

.container{
	width: 80%;
	margin: 0 auto;
	margin-top: 50px;
	border: none;
	padding: 30px;
	box-shadow: 8px 10px 20px gray;
	margin-bottom: 50px;
	border-radius: 10px;
	text-align: center;
}

h3{
	font-size: 30px;
	font: bold;
}

#input-group{
	width: 100%;	
	height: 70px;
	margin-top: 20px;
	text-align: left;
}

#event-group{
	width: 100%;	
	height: 120px;
	margin-top: 20px;
	text-align: left;
}

#event-group label{
	font: bold;
	font-size: 20px;
}

#event-date{
	width: 100%;
	margin-top: 20px;
	border-top: 1px solid #ddd;
}

#event-date label{
	margin-top: 20px;
	font-size: 18px;
}

#event-file{
	width: 100%;
	margin-top: 10px;
	border-bottom: 1px solid #ddd;
}

#event-file label{
	width: 50%;
	margin-top: 20px;
	font-size: 18px;
}

#content-group{
	width: 100%;	
	height: auto;
	margin-top: 20px;
	text-align: left;
}

#content-group label{
	font: bold;
	font-size: 20px;
}

#input-group label{
	font: bold;
	font-size: 20px;
}

#notice_show {
	width: 20%; /* 전체 너비 사용 */
    padding: 10px; /* 안쪽 여백 */
    margin-bottom: 15px; 
    border: 2px solid #ff4081; /* 강조된 테두리 색상 */
    border-radius: 4px; /* 모서리 둥글게 */
    background-color: #f9f9f9; /* 배경색 */
    color: #333; /* 글자 색상 */
    font-size: 16px; /* 글자 크기 */
    transition: border-color 0.3s, background-color 0.3s; /* 테두리 및 배경색 변화 애니메이션 */
}

/* 포커스 시 테두리 색상 변경 */
#notice_show:focus {
    border-color: #0056b3; /* 포커스 시 테두리 색상 변경 */
    background-color: #ffffff; /* 포커스 시 배경색 변경 */
    outline: none; /* 포커스 아웃라인 제거 */
}

/* 카테고리 드롭다운 스타일 */
#notice_title {
    width: 100%; /* 전체 너비 사용 */
    padding: 10px; /* 안쪽 여백 */
    margin-bottom: 15px; 
    border: 2px solid #ff4081; /* 강조된 테두리 색상 */
    border-radius: 4px; /* 모서리 둥글게 */
    background-color: #f9f9f9; /* 배경색 */
    color: #333; /* 글자 색상 */
    font-size: 16px; /* 글자 크기 */
    transition: border-color 0.3s, background-color 0.3s; /* 테두리 및 배경색 변화 애니메이션 */
}

/* 포커스 시 테두리 색상 변경 */
#notice_title:focus {
    border-color: #0056b3; /* 포커스 시 테두리 색상 변경 */
    background-color: #ffffff; /* 포커스 시 배경색 변경 */
    outline: none; /* 포커스 아웃라인 제거 */
}

#category {
    width: 100%; /* 전체 너비 사용 */
    padding: 10px; /* 안쪽 여백 */
    margin-bottom: 15px; 
    border: 2px solid #ff4081; /* 강조된 테두리 색상 */
    border-radius: 4px; /* 모서리 둥글게 */
    background-color: #f9f9f9; /* 배경색 */
    color: #333; /* 글자 색상 */
    font-size: 16px; /* 글자 크기 */
    transition: border-color 0.3s, background-color 0.3s; /* 테두리 및 배경색 변화 애니메이션 */
}

/* 포커스 시 테두리 색상 변경 */
#category:focus {
    border-color: #0056b3; /* 포커스 시 테두리 색상 변경 */
    background-color: #ffffff; /* 포커스 시 배경색 변경 */
    outline: none; /* 포커스 아웃라인 제거 */
}

#submitBtn{
	margin-top: 10px;
	width: 15%;
	background-color: #ff4081;
	color: white;
	font-size: 20px;
	height: 40px;
	border: none;
	border-radius: 8px;
}

#submitBtn:hover{
	background-color: #e62e59;
}


