@charset "UTF-8";

body {
	font-family: 'Noto Sans KR', sans-serif;
	background-color: #f8f8f8;
}

#wrapper {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 80%;
	max-width: 600px;
	margin: 50px auto;
	padding: 30px;
	background-color: white;
	border-radius: 15px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	text-align: left;
	border: 2px solid #ddd;
}

/* 상단 섹션 */
.top-section {
	text-align: center;
	margin-bottom: 20px;
}

.back_link {
	text-align: left;	
}

.top-section h1 {
	font-size: 20px;
	color: #000;
	margin-top: 0px;
	margin-bottom: 15px;
}

.back-link {
	font-size: 14px;
	color: #666;
	text-decoration: none;
	display: inline-block;
	margin-bottom: 10px;
}

.back-link:hover {
	text-decoration: underline;
}

/* 이용 안내 섹션 */
.content-section h2 {
	font-size: 18px;
	color: #333;
	margin-bottom: 15px;
	text-align: center;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}

h3 {
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 10px;
	color: #444;
}

#wrapper p, ul {
	font-size: 14px;
	color: #555;
	line-height: 1.6;
	margin-bottom: 15px;
}

ul {
	padding-left: 20px;
}

.container ul li {
	list-style: disc;
}

/* 하단 버튼 */
.bottom-section {
	text-align: center;
	margin-top: 30px;
}

.button {
	display: inline-block;
	padding: 10px 25px;
	background-color: #ff6b81;
	color: white;
	border: none;
	border-radius: 25px;
	text-decoration: none;
	font-size: 16px;
	transition: background-color 0.3s ease;
}

.button:hover {
	background-color: #ff4b61;
}