@charset "UTF-8";

 /* 전체적인 스타일 */
body {
    font-family: '맑은 고딕', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    color: #333;
    margin: 20px 0;
}

._content_detail_btn {
    display: inline-block;
	padding: 5px 15px;
	background-color: #ff4081;
	color: #fff;
	border-radius: 5px;
	font-weight: bold;
	text-decoration: none;
}

.back_list_btn:first-child {
	margin-bottom: 30px;
}
.back_list_btn:last-child {
	margin-top: 30px;
}

.content_wrap {
	width: 1000px;
	margin: 0 auto;	
}


.content_wrap .content_header .title_wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: #F4EDED;
	border-top: 2px solid #d6caca;
	border-bottom: 2px solid #d6caca;
	font-size: 12px;
}

.content_wrap .content_header .title_wrap .content_title {
	font-size: 18px;
	font-weight: bold;
}


.content_wrap .content_header .tag_wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	border-bottom: 1px solid #d6caca;
	font-size: 14px;
	color: #888;	
}

.content_wrap .content_main {
	background-color: #fff;
	padding: 10px 20px;
}

.content_wrap .content_main .content_desc {
	margin-bottom: 20px;
}

.content_wrap .content_main .content_desc div {
	padding: 20px 0;
}

.content_wrap .content_main .content_desc._1 div {
	border-bottom: 1px solid #d6caca;
	margin-bottom: 30px;
}

.content_wrap .content_main .content_desc._2 div {
	border-top: 1px solid #d6caca;
	margin-top: 30px;
}

.content_wrap .content_main .content_video {
	display:flex;
	justify-content: center;	
}

.content_wrap .content_footer {
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 25px 20px 30px;
}

.content_wrap .content_footer ._content_detail_btn {
	background-color: #858585;
}