@charset "UTF-8";

body{
	background-color: #f8f8f8;
	
}

h1 {
    font-size: 40px;
    color: #ff4081;
    text-align: center;
    margin-bottom: 30px;
}


.signup-form {
    border-radius: 20px;
    width: 60%;
    margin: 0px auto; /* 가로 방향 중앙 정렬 */
	margin-top: 100px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: 8px 10px 20px gray;
    background-color: white;
}

.left-column, .right-column {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
}

.phone-group, .address-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

label {
	float: left;
	margin-left: 50px;
}

.phone-group button, .address-group button {
    margin-left: 10px;
    margin-top: 8px;
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#email, #password ,#confirmPassword, #nickname,
#name, #birth, #inviteCode, #detailAddress {
	margin-top: 10px;
    width: 400px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#verificationCode {
	margin-top: 10px;
    width: 400px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#phoneNumber, #address{
	margin-top: 10px;
	width: 310px;
    padding: 10px;
    margin-bottom: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 48px;
}

#genderRadioGroup{
	margin-left: 300px;
}

.submit-btn {
    width: 60%;
	background-color: #ff4081;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 30px;
}

.phone-group button:hover, .address-group button:hover, .submit-btn:hover {
	background-color: #e62e59;
	
}

#emailError, #passwordError{
    margin-bottom: 0px;
    height: 5px;
}

