<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>rtspplay</title>
</head>
<body>
    <img id="img" width="400" height="300">
<script src="/socket.io/socket.io.js"></script>
<script>
    var img = document.getElementById('img'),
        socket = io('');
    socket.on('data', function(data) {
        img.src = 'data:image/jpeg;base64,' + data;
    });
</script> 
</body>
</html>