

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.find-container {
	margin-top: 50px;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 600px;
    text-align: left;
    
}

.find-tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.find-tabs button {
    width: 50%;
    padding: 10px;
    border: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}

.find-tabs .active {
    color: #ff3366;
    border-bottom: 2px solid #ff3366;
}

.find-form .form-group {
    margin-bottom: 70px;
    position: relative;
}

.find-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.find-form input {
    width: 96%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.find-form input:focus {
    border-color: #ff3366;
}

.send-code-btn {
    position: absolute;
    right: 10px;
    top: 100px;
    transform: translateY(-50%);
    background-color: #ddd;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    cursor: not-allowed;
    color: #999;
    margin-right: -10px;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #ff3366;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #e62e59;
}
