@charset "UTF-8";

/* 쿠폰 관리 */
.title {
	width: 100%;
	background-color: #efefef;
	padding: 20px 35px;
	text-align: left;
}

.filter-section-1 {
	display: flex;
}

.filter-title {
	width: 150px;
	height: 100%;
	padding: 6px 30px 7px 30px;
	background-color: #dddddd;
	font-size: 14px;
	font-weight: bold;
}

label {
	padding: 5px 0 5px 10px;
}

.btn-style {
	background-color: #545454;
	font-weight: bold;
	color: white;
	padding: 4px 15px;
	border: none;
	cursor: pointer;
	margin-left: 10px;
}

#filterReset {
	margin-left: 65px;
	padding: 2px 15px;
}

.radio-group {
	border: 2px solid white;
	background-color: #efefef;
}
.radio-div {
	display: flex;
	width: 100%;
	border: 2px solid white;
	background-color: #efefef;
}

.checkbox-group, .date-group, .search-group {
	display: flex;
	width: 100%;
	border: 2px solid white;
	background-color: #efefef;
	align-items: center;
}

#search-order {
	height: 25px;
	margin-left: 10px;
}

input[type="text"] {
	width: 150px;
	height: 25px;
	padding: 2px;
	border: 1px solid #ddd;
	margin: 0 5px;
}

.pethotel-reserve-list {
	width: 100%;
	border-collapse: collapse;
}

.thead {
	background-color: #dddddd;
}

.pethotel-reserve-list th, td {
	border: 1px solid #cdcdcd;
	padding: 5px;
	text-align: center;
	font-size: 14px;
}

/* 페이지네이션 */
.pethotel-reserve-list-container {
	position: relative;
	min-height: calc(100vh - 280px);
}

#pagination {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 20px;
}

#pagination a {
	padding: 5px 10px;
	margin: 0 5px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	text-decoration: none;
	color: #333;
	transition: background-color 0.3s ease;
}

#pagination a:hover {
	background-color: #545454;
	color: white;
}

#pagination a.active {
	background-color: #545454;
	color: white;
}
#reserveDetailButtons {
	display: flex;
    padding-left: 5px;
    padding-right: 0px;
    justify-content: space-between;
}

#goBack {
	margin-right: 65%;
}

#reserveSubmit {
	margin-right: 15px;
}

#goBack, #reserveSubmit {
	
	padding: 10px;
}
