@charset "UTF-8";

.title {
	width: 100%;
	background-color: #efefef;
	padding: 20px 35px;
	text-align: left;
}

.filter-section-1 {
	display: flex;
}

.filter-title {
	width: 100px;
	height: 100%;
	padding: 5px 15px;
	background-color: #dddddd;
	font-size: 14px;
	font-weight: bold;

}



label {
	padding: 5px 0 5px 10px;
}

.radio-group {
	display: flex;
	width: 100%;
	border: 2px solid white;
	background-color: #efefef;
}

#pet-type {
	width: 70%;
}

#pro-type {
	width: 70%;
}

#pro-detail-type {
	width: 100%;
}

#search-filter {
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 15px;
	width: 270px; /* 입력 필드 너비 */
}

.btnBox{
	margin: 10px;
}

.btn-style {
	background-color: #545454;
	font-weight: bold;
	color: white;
	padding: 4px 15px;
	border: none;
	cursor: pointer;
	margin-left: 10px;
	
}

.array-section {
	display: flex;
	justify-content: flex-end;
	padding: 5px 10px;
	background-color: white;
}

.product-list-container {
	position: relative;
	padding-bottom: 70px; /* 페이징 높이만큼 여백을 추가 */
}

.product-list {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed; /* 고정 테이블 레이아웃 설정 */
}

/* 각 열의 너비 설정 */
.product-list th:nth-child(1), .product-list td:nth-child(1) {
	width: 7%;
} /* 날짜 */
.product-list th:nth-child(2), .product-list td:nth-child(2) {
	width: 15%;
} /* 상품코드 */
.product-list th:nth-child(3), .product-list td:nth-child(3) {
	width: 30%;
} /* 상품명 */
.product-list th:nth-child(4), .product-list td:nth-child(4) {
	width: 15%;
} /* 상품타입 */
.product-list th:nth-child(5), .product-list td:nth-child(5) {
	width: 8%;
} /* 판매상태 */
.product-list th:nth-child(6), .product-list td:nth-child(6) {
	width: 10%;
} /* 상세보기/편집 */
.thead {
	background-color: #dddddd;
}

.product-list th, .product-list td {
	border: 1px solid #cdcdcd;
	padding: 5px;
	text-align: center;
	font-size: 14px;
}

#pagination {
	width: 100%;
	text-align: center;
	position: relative;
	margin-top: 20px;
}

#pagination a {
	padding: 5px 10px;
	margin: 0 5px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	text-decoration: none;
	color: #333;
	transition: background-color 0.3s ease;
}

#pagination a:hover {
	background-color: #545454;
	color: white;
}

#pagination a.active {
	background-color: #545454;
	color: white;
}

/* 모달창 */
.modal {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4); /* 반투명 검정 배경 */
}

.modal-content {
	position: relative;
	margin: 3% auto; /* 중앙 정렬 */
	padding: 40px;
	width: 1000px;
	max-height: 700px; /* 최대 높이 설정 */
	background-color: #f4f4f4;
	text-align: left;
}

.close-btn {
	position: absolute;
	right: 20px;
	top: 15px;
	cursor: pointer;
}

.modal-title {
	position: absolute;
	left: 20px;
	top: 15px;
}

.input-group, .input-group2 {
	display: flex;
	margin: 5px;
	height: 30px;
}

.input-group label {
	width: 120px;
	font-weight: bold;
}

.input-group input[type="text"] {
	width: 200px;
	padding: 5px;
	border: 1px solid #ccc;
	font-size: 15px;
}

#options {
	width: 120px;
	font-weight: bold;
}
.input-group2 span {
	font-weight: bold;
	margin: 5px;
	font-size: 12px;
}

#optPrice {
	width: 80px;
}
#optCnt {
	width: 60px;
}


#option-container {
            max-height: 100px; /* 원하는 최대 높이 */
            overflow-y: auto; /* 세로 스크롤 표시 */
           
        }

/* 버튼 기본 스타일 */
.input-group2 button {
   width: 25px; /* 버튼 너비 조정 */
    height: 25px; /* 버튼 높이 조정 */
    border: none;
    border-radius: 10%;
    font-size: 20px; /* 글자 크기 조정 */
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #333; 
    margin-left: 5px; /* 버튼 간의 간격 추가 */
}

.imgAdd {
	width: 30px;
	font-size: 20px; /* 글자 크기 조정 */
}

#proName{
	width: 520px;
}
#proDiscount{
	width: 50px;
	
}



#proMainImages, #proDesImages {
	all: unset; /* 모든 스타일 초기화 */
	display: none;
}

.proEx {
	font-size: 12px;
	color: gray;
	line-height: 40px; /* 요소의 높이와 동일하게 설정 */
	margin-left: 10px;
}

.checkLine {
	border-top: 1px solid #cccccc; /* 연한 회색 구분선 */
	margin: 10px 0; /* 위아래 여백 추가 */
}

#discountUnit {
	font-size: 17px;
	margin-left: 5px;
}

#registerProductBtn {
	width: 100%;
	padding: 10px;
	margin-top: 15px;
	background-color: #555;
	color: white;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

#registerCouponBtn:hover {
	background-color: #333;
}

.image-preview {
	display: flex; /* 이미지를 가로로 정렬 */
	flex-wrap: wrap; /* 여러 줄로 정렬 */
}

.preview-image {
	border: 1px solid #ccc; /* 이미지 테두리 */
	border-radius: 5px; /* 모서리 둥글게 */
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
}