@charset "UTF-8";

.title {
	width: 100%;
	background-color: #efefef;
	padding: 20px 35px;
	text-align: left;
}

.salesTodayContainer {
	width: 100%;
	margin: 2px 2px;
	display: flex;
	justify-content: space-between; /* 좌우로 배치 */
	align-items: center; /* 세로 정렬: 중앙 */
	gap: 1px; /* 요소 간 간격 추가 (선택 사항) */
	height: 250px;
}

.slaesTodayTextBox {
	width: 100%;
	background-color: #f1f1f1;
	height: 100%;
	flex: 1; /* 왼쪽 영역이 차지할 공간을 1로 설정 */
}

.todayText1 {
	display: flex;
	justify-content: space-between; /* 양 끝으로 배치 */
	align-items: center; /* 수직 정렬 */
	width: 100%; /* 컨테이너 크기 */
	background-color: #e3e3e3;
	padding: 15px 0;
}

#todayText1_1 {
	margin-left: 5px;
	font-size: 18px;
}
#todayText1_2 {
	margin-right: 5px;
}

.todayText2 {
	display: flex;
	flex-direction: column; /* 요소를 세로 방향으로 배치 */
	background-color: #e8e8e8;
	padding: 10px 0;
}

#todayText2_1 {
	align-self: flex-start; /* 왼쪽에 붙이기 */
	font-size: 15px;
	margin-bottom: 5px; /* 아래 요소와 간격 */
	color: #999;
	margin-left: 5px;
	margin-top: 5px;
}

#todayText2_2 {
	align-self: flex-end; /* 오른쪽에 붙이기 */
	font-size: 25px;
	font-weight: bold;
	color: #111;
	margin-right: 5px;
	margin-bottom: 5px;
}
#todayText2_2_total {
	font-size: 35px;
}

/* 전체 컨테이너 */
.statsContainer {
	display: flex;
	justify-content: space-between; /* 양 끝으로 배치 */
	gap: 0px; /* 아이템 간 간격 */
	width: 100%; /* 가로 영역 사용 */
	
}

.statsRow {
	width: 100%; /* 각 항목의 너비 설정 (두 개씩 한 줄에 배치) */
	height: 100%;
}

/* 각 아이템 */
.statsItem {
	display: flex;
	justify-content: space-between; /* 값과 텍스트를 양 끝으로 배치 */
	width: 100%; /* 각 항목의 너비 설정 (두 개씩 한 줄에 배치) */
	font-size: 14px; /* 글자 크기 */
	border: 1px solid white; /* 외곽선 추가 (두께 1px, 실선, 검은색) */
}

/* 제목 */
.statsTitle {
	color: #999;
	padding: 5px;
	font-size: 12px;
	margin: 10px 0;
}

/* 값 */
.statsValue {
	font-size: 12px;
	font-weight: normal;
	color: #333; /* 텍스트 색상 */
	padding: 8px;
	margin: 10px 0;
}

.slaesTodayGraph {
	width: 100%; /* 차트 컨테이너의 너비를 100%로 설정 */
	background-color: #f1f1f1;
	height: 100%; /* 차트 컨테이너의 높이를 100%로 설정 */
	margin: 2px;
	flex: 1; /* 오른쪽 영역이 차지할 공간을 1로 설정 */
}

#myChart {
	width: 100%; /* 부모 요소의 너비에 맞춤 */
    height: 100%; /* 부모 요소의 높이에 맞춤 */
    box-sizing: border-box; /* 여백 포함 */
    padding: 5px;
}

.title2{
	width:100%;
	background-color: #e3e3e3;
	margin-top: 10px;
	font-size: 18px;
	text-align: left; /* 텍스트를 왼쪽 정렬 */
	margin: 0 3px;
	padding: 5px 5px;
}

.radioGroup{
	display: flex;
	
}
 
.filterTitle {
	width: 100px;
	height: 100%;
	padding: 5px 15px;
	background-color: #dddddd;
	font-size: 14px;
	font-weight: bold;
	margin-left: 3px;

}
.radioBtn {
	padding: 5px 0 0 10px;
	 display: flex; /* 라디오 버튼과 텍스트를 가로로 정렬 */
	gap: 5px; /* 버튼과 텍스트 사이의 간격 */
	
}

.btn-style {
	background-color: #545454;
	font-weight: bold;
	color: white;
	padding: 4px 15px;
	border: none;
	cursor: pointer;
	margin: 10px 0;
}

.product-list {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed; /* 고정 테이블 레이아웃 설정 */
}
.thead {
	background-color: #dddddd;
}
.product-list th, .product-list td {
	border: 1px solid #cdcdcd;
	padding: 5px;
	text-align: center;
	font-size: 14px;
}
.salesGraphResultBox{
	margin: 0 5px;
}

.totalResultGraph{
	height: 400px;	
	border: 1px solid #cdcdcd;
	margin-bottom: 3px;
}
.product-list{
	height: 400px;	
}
