@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    margin: 0;
}
h2 {
    text-align: center;
}

/* 주문 및 결제 */
.payment-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
.payment-container section {
    padding: 20px;
    border-bottom: 4px solid #ddd;
}
.payment-container h3 {
    font-size: 18px;
    margin-right: 10px;
    margin-top: 0;
}
.order-info {
	display: flex;
	align-items: center;
    background-color: #ddd;
    border: none;
}
.delivery-info {
    padding: 15px 0;
}
.delivery-info input {
    margin-left: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    font-size: 14px;
}
.delivery-options {
    display: flex;
    flex-direction: column;
}
.delivery-options input {
	width: 525px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
}
.innerBtn1 {
	position: relative;
	bottom: 33px;
	left: 500px;
	font-size: 13px;
	font-weight: bold;
	color: #777;
	cursor: pointer;
}
.order-items .item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}
.item-img {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    margin-right: 10px;
}
.item-details {
    flex: 1;
}
.item-name {
    margin-bottom: 3px;
}
.item-option {
    color: #777;
    font-size: 14px;
    margin-bottom: 3px;
}
.item-price {
    font-size: 15px;
	font-weight: bold;
}
.item-reward {
    font-size: 13px;
	color: #ff4081;
}
.discount-info {
    display: flex;
    flex-direction: column;
}
.coupon-option input {
    width: 525px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
}
.innerBtn2 {
	position: relative;
	bottom: 33px;
	left: 450px;
	font-size: 13px;
	font-weight: bold;
	color: #777;
	cursor: pointer;
}
.point-option input {
    width: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 8px;
}
.point-option button {
	font-weight: bold;
    padding: 9px 13px;
    background-color: #ff4081;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.user-point {
	font-size: 12px;
	font-weight: bold;
	color: #777;
	margin: 5px 0 0 95px;
}
.summary-item {
	color: #777;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 15px;
}
.summary-item span {
	color: black;
}
.total-amount {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
}
.total-point {
	font-size: 12px;
	font-weight: bold;
	color: #777;
	text-align: right;
	margin-top: 5px;
}
.payment-button {
	width: 100%;
    background-color: #ff4081;
    color: #fff;
    padding: 15px;
    font-weight: bold;
    font-size: 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* 배송지 출입&메모 팝업 */
.popup-container {
    width: 90%;
    margin: 20px auto;
}
.popup-container label {
    display: block;
    font-size: 16px;
    margin: 10px 0;
}
.option-input {
    width: 90%;
    margin: 5px auto;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.save-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #ff4081;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}
.save-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* 쿠폰 적용 팝업 */
.coupon-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 20px;
}
.coupon-card {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #227878;
    background-color: #eaf4f4;
}
.coupon-info {
    padding: 20px;
}
.coupon-name {
    font-size: 17px;
    font-weight: bold;
    margin: 5px 0;
    color: #333;
}
.coupon-discount {
    color: #227878;
    font-size: 40px;
    font-weight: bold;
    margin: 5px 0;
}
.coupon-btn {
    width: 100%;
    padding: 10px 0;
    color: white;
    border: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #227878;
}
.coupon-btn i {
    margin-left: 5px;
}
.coupon-btn:hover {
    cursor: pointer;
    background-color: #1b6262;
}

/* 고객센터 */
.go-faq {
	font-size: 18px;
	font-weight: bold;
	color: white;
	background-color: #ff4081;
	text-decoration: none;
	padding: 10px 25px;
	border-radius: 5px;
}
.container {
	width: 60%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}
.tab-section {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}
.tab-btn {
	width: 50%;
	padding: 10px;
	text-align: center;
	background-color: white;
	font-size: 18px;
	color: #ddd;
	border: none;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
}
.tab-btn.active {
	color: black;
	font-weight: bold;
	border-bottom: 2px solid #ff4081;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
.cs-form {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 100px;
}
.cs_caregory {
	align-content: center;
	margin: 15px 0;
	padding: 15px 0 0 0;
	border-top: 1px solid #cdcdcd;
    font-size: 14px;
}
.cs_title {
	display: inline-block;
	width: 80px;
	padding-left: 10px;
	border-right: 1px solid #cdcdcd;
	margin-right: 10px;
}
.cs_contect {
	height: 400px;
	margin-bottom: 15px;
	padding: 10px;
}
.cs-list {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}
.cs-list th {
    font-weight: normal;
    border-bottom: 1px solid #cdcdcd;
	align-content: center;
    font-size: 14px;
	padding: 10px;
}
.cs-detail {
	width: 100%;
    border-collapse: collapse;
}
.cs-detail th {
    font-weight: normal;
    border-top: 1px solid #cdcdcd;
	align-content: center;
    font-size: 14px;
	padding: 10px;
	text-align: left;
}
.submit-btn {
	width: 100px;
	background-color: #ff4081;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    align-self: flex-end;
}
.cs-detail-title {
	width: 150px;
	border-right: 1px solid #cdcdcd;
}
#detailContent {
	height: 200px;
}
.cs-btn-group {
	display: flex;
	justify-content: space-between;
}
.cs-btn-group button {
	width: 100px;
	background-color: white;
    color: #ff4081;
    padding: 5px 15px;
    border: 1px solid #ff4081;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    align-self: flex-end;
}
.cs-answer {
	width: auto;
	background-color: #ddd;
    font-size: 14px;
    padding: 20px;
    margin-top: 10px;
}

/* 페이지네이션 */
.pagination {
    width: 100%;
	text-align: center;
	margin: 30px 0 50px 0;
}
.pagination a {
	padding: 5px 10px;
	margin: 0 5px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	text-decoration: none;
	color: #333;
	transition: background-color 0.3s ease;
}
.pagination a:hover {
	background-color: #545454;
	color: white;
}
.pagination a.active {
	background-color: #545454;
	color: white;
}