@charset "UTF-8";

.searchPage{
	display: flex; /* 플렉스 컨테이너 설정 */
	  flex-direction: column; /* 세로 방향으로 나열 */
    align-items: center; /* 자식 요소들을 가로 방향으로 중앙 정렬 */
}
.searchProductList {
    
    
}

.top10ProductList {
    
    margin-top: 20px;
     
     
}

.top10ProductList ol {
    padding: 0; /* 리스트의 기본 패딩을 제거 */
    margin: 0; /* 리스트의 기본 마진을 제거 */
    
}

.top10ProductList ol span {
    font-weight: bold; /* 글씨를 굵게 설정 */
    font-size: 15px;
}


.top10ProductList li a{
    font-size: 12px; /* 원하는 글씨 크기로 변경 */
    line-height: 1.5; /* 줄 간격 조정 (선택 사항) */
    color: inherit; /* 부모 요소의 색상을 상속받도록 설정 */
    text-decoration: none; /* 링크의 기본 밑줄 제거 */
    
    
}

.top10ProductList li a:hover {
    color: #ff4081; /* 호버 시 색상 변경 없음 */
    text-decoration: none; /* 호버 시에도 밑줄 없음 */
}