.productDetailpg {
    display: grid;
    place-items: center; /* 가로 및 세로 중앙 정렬 */
    min-height: 100vh; /* 화면 전체 높이를 차지 */
    margin: 0; /* 기본 여백 제거 */
}

.productData {
    display: flex; 
    width: 100%; /* 너비를 설정하거나 제거 가능 */
    justify-content: center; /* 자식 요소들을 중앙에 배치 */
    align-items: center; /* 자식 요소들을 수직 중앙에 배치 */
    
}



.image-container {
    position: relative;
    display: inline-block; /* 이미지가 자신의 크기만큼 공간을 차지하게 함 */
    margin-right: 100px;
}

#productImage {
    width: 400px; /* 이미지의 너비를 조정 */
    height: auto; /* 이미지의 높이를 자동으로 조정 */
    border-radius: 8px; /* 모서리를 둥글게 설정 */
}

#prevButton, #nextButton {
    position: absolute;
    top: 50%; /* 버튼을 세로 중앙에 위치시킴 */
    transform: translateY(-50%); /* 버튼의 중심을 기준으로 중앙 정렬 */
    background-color: rgba(255, 255, 255, 0.7); /* 반투명 배경 */
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1; /* 이미지 위에 표시되도록 설정 */
}

#prevButton {
    left: 10px; /* 왼쪽 버튼의 위치 */
}

#nextButton {
    right: 10px; /* 오른쪽 버튼의 위치 */
}

.data-petType{
	border: 2px solid #ff4081; /* 두께 2px, 실선, 검은색 */
	border-radius: 10px;         /* 모서리를 둥글게 (10px) */
	color: #ff4081;
	padding: 3px;
	
}
.data-proType{
	color: #717171;
}
.data-proName{
	font-weight: bold; /* 텍스트를 굵게 */
	font-size: 20px;
}



.star {
    font-size: 16px;
    color: #f5c518;  /* 노란색 */
    position: relative;
    display: inline-block;
}

.star.half {
    background: linear-gradient(90deg, #f5c518 50%, #ddd 50%);  /* 반쪽 노란 별 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.star.gray {
    color: #ddd;  /* 회색 */
}

.data-reviewCount{
	color: #717171;
	font-size: 11px;
}
.data-proDiscount{
	font-weight: bold; /* 텍스트를 굵게 */
	color : red;
	font-size: 20px;
}
.data-proPrice{
	text-decoration: line-through; /* 가운데 줄 추가 */
	color : lightgray;
}
.data-proFinalPrice{
	font-weight: bold; /* 텍스트를 굵게 */
	font-size:20px;
}
.data-memGrade{
	font-size: 13px;
	color : #8e8e8e;
}
.gradePoint{
	color : #ff4081;
}






.data-line { /* 옵션 밑 라인 */
    border-bottom: 1px solid black; /* 원하시는 색상과 두께로 조정 */
    width: 100%; /* 원하는 너비로 설정 */
    margin: 10px 0; /* 위아래 여백을 조정할 수 있음 */
}

.putBtn {
    display: flex; /* 버튼들을 가로로 나열하기 위해 flexbox 사용 */
    align-items: center; /* 버튼들의 수직 정렬 */
    gap: 30px; /* 버튼 사이 간격을 10px로 설정 (원하는 간격으로 조절 가능) */
    /* margin-left: 100px; */
}
#wishListBtn {
    background-color: transparent; /* 버튼 배경을 투명하게 설정 */
    border: none; /* 버튼 테두리를 제거 */
    padding: 0; /* 여백을 제거 */
    cursor: pointer; /* 커서를 포인터로 설정 */
    width: 80px; /* 버튼의 고정 너비 설정 */
    margin-left: 30px;
    
    
}

#wishListImg {
    width: 25px; /* 이미지 크기 조정 */
    height: auto;
}

#cartBtn{
	background-color: #ff639c;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width : 100%;
    font-weight: bold; /* 텍스트를 굵게 */
}

#cartBtn:hover {
    background-color: #ff4573;
    font-weight: bold; /* 텍스트를 굵게 */
}


.line { /* 제품상세페이지 구분선 */
	 border-bottom: 1px solid #d9d9d9; /* 원하시는 색상과 두께로 조정 */
    width: 1200px; /* 원하는 너비로 설정 */
    margin: 40px 0; /* 위아래 여백을 조정할 수 있음 */
}

.recommend {
    justify-self: start;  /* 부모 그리드 내에서 왼쪽 정렬 */
    
    text-align: left; /* 텍스트 왼쪽 정렬 */
}

.detailMent {
	font-weight: bold;
	font-size: 40px;
	
}

.recProduct > * {
    transition: transform 0.3s ease; /* 부드러운 확대 효과를 위해 트랜지션 추가 */
}

.recProduct > *:hover {
    transform: scale(1.05); /* 아이템을 1.1배로 확대 */
}
.recProduct :hover .recProName{
	color : #ff4081;
	font-weight: bold;
}

.recProduct {
    display: flex; /* Flexbox 활성화 */
    flex-wrap: wrap; /* 아이템이 공간을 초과할 경우 줄 바꿈 */
    justify-content: center; /* 아이템을 중앙 정렬 */
    margin: 10px; /* 주변 여백 */
    overflow-x: auto; /* 가로 스크롤 허용 (필요할 경우) */
}

.recProductItem {
    width: 200px;               /* 각 아이템의 너비 */
    margin: 20px;               /* 아이템 간격 */
    padding: 5px;              /* 아이템 내부 여백 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    text-align: center;         /* 텍스트 중앙 정렬 */
    cursor: pointer;
}

.recproduct-image-wrapper {
    height: 200px;              /* 이미지 높이 설정 */
    overflow: hidden;           /* 이미지가 영역을 넘지 않도록 설정 */
}

.recproduct-image-wrapper img {
    max-width: 100%;            /* 이미지 너비를 최대 100%로 설정 */
    height: auto;      
    border-radius: 8px; /* 모서리를 둥글게 설정 */
}

.recRating {
    color: #ffcc00;             /* 별점 색상 */
}

#proPrice{
	text-decoration: line-through; /* 가운데 줄 긋기 */
	color: lightgray;
	font-size: 13px;
}
#proDis{
	color: red;
	font-weight: bold;
	font-size: 17px;
}
#proFpri{
	
	font-size: 18px;
	
}








.productInfo {
	justify-self: start;  /* 부모 그리드 내에서 왼쪽 정렬 */
	text-align: left; /* 텍스트 왼쪽 정렬 */
	
}

.checkImg{
	
	display: block;          /* 이미지를 블록 요소로 설정 */
    width: 800px;        /* 이미지 너비 제한 */
    height: auto;            /* 이미지 비율 유지 */
    margin: 40px 110px;       /* 상하 40px 여백, 좌우 자동 정렬로 중앙 배치 */
    
}
.infoImg{
	
	width: 800px;            /* 이미지 너비를 최대 100%로 설정 */
    height: auto; 
    justify-content: center;      /* 수평 중앙 정렬 */
    align-items: center;          /* 수직 중앙 정렬 (필요할 경우) */
}

.desImgBlock {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: center; /* 가운데 정렬 */
    justify-content: center; /* 수직 가운데 정렬 */
    height: 100%; /* 부모 요소의 높이에 맞춰 조정 */
}



.reviewCount {
	margin-right: 800px;
	font-weight: bold;
	font-size: 40px;
	
}

.reviewAvrCount{
	margin-top: 20px;
	background-color: #f1f1f1; 
	height: 230px;
	display: flex;
	align-items: center; /* 가운데 정렬 */
    justify-content: center; /* 수직 가운데 정렬 */ 
    gap: 70px;
}

.revLeft{
	    display: flex; /* flexbox 활성화 */
    flex-direction: column; /* 세로 정렬 */
    align-items: center; /* 가운데 정렬 */
    justify-content: center; /* 수직 가운데 정렬 */
	
}
.revAvg{
	font-weight: bold;
	font-size: 70px;
}

.revRight {
    display: flex; /* flexbox 활성화 */
    flex-direction: column; /* 세로 정렬 */
    align-items: center; /* 가운데 정렬 */
    justify-content: center; /* 수직 가운데 정렬 */
    gap: 10px;
}

.score {
    display: flex; /* Flexbox 활성화 */
    align-items: center; /* 가운데 정렬 */
    width: 590px; /* 고정 너비 설정 */
    gap: 20px;
}

.heart-signal-bar {
    flex-grow: 1; /* 바가 가능한 공간을 모두 차지하도록 설정 */
    height: 30px;
    background-color: #d9d9d9;
    border-radius: 20px;
    position: relative;
}

.heart-signal-fill {
    height: 100%;
    background-color: #ff4081;
    border-radius: 20px;
    width: 0; /* 이 값은 JavaScript에서 설정합니다. */
}

.score span {
    width: auto; /* 텍스트의 너비를 자동으로 설정 */
    text-align: right; /* 텍스트 오른쪽 정렬 */
    margin-right: 10px; /* 바와의 여백 */
}

.revCounts {
    min-width: 40px; /* 숫자가 길어져도 고정된 최소 공간 확보 */
    text-align: right;
    font-size: 18px;
    margin-left: 10px; /* 바와의 간격 */
}


/* ---------------------------리뷰리스트--------------------------- */

.reviewListBox {
	display: flex; /* Flexbox 활성화 */
	justify-content: flex-end; /* 오른쪽 정렬 */
	width: 920px;
    float: right;
}

.reviewList {
    display: flex; /* 수평 배치 */
    flex-direction: column; /* 세로로 쌓이도록 설정 */
    border: 1px solid #ddd; /* 테두리 */
    border-radius: 8px; /* 둥근 모서리 */
    padding: 15px; /* 내부 여백 */
    margin: 10px 0; /* 외부 여백 */
    background-color: #fff; /* 배경색 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    width: 900px;
}
.reviewFirst{
	display: flex; /* 수평 배치 */
	position: relative;
}

.petImage {
    width: 40px; /* 프로필 이미지 크기 */
    height: 40px; /* 프로필 이미지 크기 */
    border-radius: 50%; /* 동그라미 모양 */
    margin-right: 10px; /* 오른쪽 여백 */
}

.reviewAuthor {
    display: flex; /* 플렉스 박스 사용 */
    align-items: center; /* 수직 중앙 정렬 */
    margin-bottom: 5px; /* 아래 여백 */
}

.reviewRating{
	display: flex; /* 플렉스 박스 사용 */
    align-items: center; /* 수직 중앙 정렬 */
    margin-bottom: 7px; /* 아래 여백 */
    margin-left: 7px;
}

.reviewDate {
    position: absolute;
    right: 10px; /* 오른쪽 끝에 정렬 */
    top: 10px; /* 원하는 위치 조정 */
    color: #666;
    font-size: 14px;
}

.reviewImages {
    display: flex; /* 가로로 나열 */
    flex-wrap: wrap; /* 줄 바꿈 허용 */
    margin: 10px 0; /* 외부 여백 */
}

.reviewImage {
    width: 100px; /* 리뷰 이미지 크기 */
    height: 100px; /* 리뷰 이미지 크기 */
    object-fit: cover; /* 비율 유지하며 잘리도록 */
    margin-right: 5px; /* 오른쪽 여백 */
    border-radius: 5px; /* 둥근 모서리 */
    transition: transform 0.3s ease; /* 부드러운 전환 효과 */
}

.reviewImage.large {
    transform: scale(5); /* 클릭 시 이미지 확대 */
    z-index: 1;
}


.reviewText {
    margin-top: 10px; /* 상단 여백 */
    font-size: 14px; /* 글자 크기 */
    line-height: 1.5; /* 줄 높이 */
    color: #333; /* 텍스트 색상 */
}

.reviewListPagination a {
    color: #333;
    padding: 8px 12px;
    margin: 0 4px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.reviewListPagination a:hover {
    background-color: #ddd;
}

.reviewListPagination a.active {
    background-color: #ff4081; /* 클릭된 페이지의 배경색 */
    color: #fff; /* 텍스트 색상 */
}

.reviewListPagination a#prev-group,
.reviewListPagination a#next-group {
    font-weight: bold;
    color: #666;
}

.reviewListPagination a#prev-group:hover,
.reviewListPagination a#next-group:hover {
    background-color: #ddd;
}

#proClick {
	text-decoration: none; /* 기존 언더라인 제거 */
	color: rgb(251, 0, 88)  !important;
	box-shadow: 0 3px 0 rgb(251, 0, 88); /* 밑에 그림자를 이용한 언더라인 */
	padding-bottom: 10px;
}





.productInfo{
	max-height: 2000px;
	overflow: hidden;
	
}
.productInfo.expanded {
        max-height: 100%;
}
#contentBtn {
		width: 800px;
        margin-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        background-color: white;
        color: #ff4081;
        border: 2px solid #ff4081;
        padding: 8px 12px;
        border-radius: 5px;
        font-size: 15px;
        text-align: center;
    }
 
   




























/* 팝업 오버레이 스타일 */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; /* 기본적으로 숨김 */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* 로그인유도 팝업 내용 스타일 */
.popup-content-login {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-content-login p, .popup-content-cart p {
    font-size: 15px;
    margin-bottom: 20px;
}

#selectedPro, #selectedOptionText {
	font-size: 20px;
	
	
}

#selectedOptionPrice{
	text-align: left;
	margin-right:  50px;
	color : #828282;
}


#quantityMaxText{
	text-align: left;
	font-size: 12px;
	color : #828282;
}
#finalPrice{
	margin-left: 10px;
}

/* 버튼 스타일 */
.popup-btn {
    background-color: #ff639c;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.popup-btn:hover {
    background-color: #ff4573;
}

/* 팝업 내용 스타일 */
.popup-content-cart {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.scrollTopBtn {
    display: none; /* 기본적으로 숨겨둠 */
    position: fixed; /* 화면에 고정 */
    bottom: 40px; /* 화면 하단에서 40px 위 */
    right: 30px; /* 화면 오른쪽에서 30px 왼쪽 */
    z-index: 99; /* 다른 요소보다 위에 표시 */
    background-color: #777; /* 버튼 배경색 */
    color: white; /* 텍스트 색 */
    border: none; /* 테두리 없음 */
    padding: 15px; /* 패딩 */
    border-radius: 10px; /* 둥근 모서리 */
    cursor: pointer; /* 마우스를 올렸을 때 커서 모양을 손가락 모양으로 */
    font-size: 18px; /* 글자 크기 */
}
.scrollTopBtn span {
	padding-left: 5px;
}

.scrollTopBtn:hover {
    background-color: #111; /* 마우스를 올렸을 때 배경색 변경 */
}

/* 팝업 스타일 */
.popup-overlay-goCart {
    position: fixed;
    bottom: 10px; /* 화면 하단에 위치 */
    left: 50%;
    transform: translateX(-50%); /* 중앙 정렬 */
    background-color: rgba(0, 0, 0, 0.7); /* 50% 투명도 검은색 배경 */
    padding: 5px;
    border-radius: 10px;
    z-index: 1000;
    display: none; /* 처음엔 숨김 */
}


.popup-content-goCart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 12px;
}

#goPro, #goCnt {
    display: block; /* 각 텍스트를 블록 요소로 처리 */
}
#goPro {
    margin-right: 10px;
}

#goCnt {
    margin-left: 5px;
}
#goCartMent {
    display: flex;
    flex-direction: column; /* 세로로 배치 */
}

#goCartMentIn {
    display: flex;
    flex-direction: row; /* 가로로 배치 */
}
/* 버튼 스타일 */
#goCartBtn2 {
    background-color: #ff4081;
    border: none;
    color: white;
    padding: 5px 5px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}
#goCartBtn2 a {
    text-decoration: none;  /* 밑줄 제거 */
    color: inherit;         /* 부모 요소의 글자 색상 그대로 사용 */
}
