.menubar{
	margin: 0 0 0 50px; /* 헤더에 가려서 내림 */
}

#product-List {
    display: grid;
    grid-template-columns: repeat(4, 240px); /* 4개씩 나열 */
    grid-gap: 20px; /* 각 아이템 간의 간격 */
    justify-content: center; /* 가운데 정렬 */
    margin: 0 auto; /* 중앙 정렬을 위한 마진 */
}

.product-Item {
    width: 240px; /* 고정된 너비 */
    height: auto; /* 높이는 콘텐츠에 따라 자동으로 조정 */
    text-align: center;
    overflow: hidden; /* 내용이 넘치지 않도록 설정 */
}

.product-Item img {
    width: 100%; /* 이미지가 아이템의 너비에 맞게 조정 */
    height: auto; /* 이미지 비율 유지 */
    display: block; /* 이미지 아래 여백 제거 */
}

.sold-out-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명한 검은 배경 */
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    z-index: 0;
}

.product-image-wrapper {
    position: relative;
}

.star {
    font-size: 16px;
    color: #f5c518;  /* 노란색 */
    position: relative;
    display: inline-block;
}

.star.half {
    background: linear-gradient(90deg, #f5c518 50%, #ddd 50%);  /* 반쪽 노란 별 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.star.gray {
    color: #ddd;  /* 회색 */
}