@charset "UTF-8";

#container{
	margin: 0 auto;
	width: 80%;
	height: 650px;
	text-align: center;
	
}

#top{
	width: 100%;
	height: 150px;
}

#bottom {
	width: 100%;
	height: 500px;
}

#left {
	float: left;
	width: 45%;
	height: 500px;
	padding-left: 40px;
	
}

#right {
	float: right;
	width: 45%;
	height: 500px;
	padding-right: 40px;
	
}

#dogDiv{
	margin-top: 30px;
	float: left;
}

#catDiv{
	margin-top: 30px;
	float: right;
}

#petName{
	width: 60%;
	height: 40px;
	font-size: 25px;
	border-radius: 8px;
	border: 1px solid black;
	padding-left: 20px;
}

#submitBtn{
	margin-top: 30px;
	width: 63%;
	height: 40px;
	border-radius: 8px;
	border: none;
	background-color: #ff4081;
	color: white;
	font: bold;
	font-size: 25px;

}

#submitBtn:hover{
	background-color: #e62e59;
	cursor: pointer;
}

